
.pushups{
  width: 10px;
  height: 10px;


  display: flex;
  padding: 15px;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;

}

.nav a{
  color: white;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
}

.nav a:after{
  content: '';
  position: absolute;
  height: 3px;
  left: 0;
  right: 0;
  bottom: 0;

}

.health-fill {
  height: 100%;
  background-color: green;
  transition: width 0.3s ease-in-out;
}


